{% extends 'base.html' %}
{% block main_content %}
{% if user.is_authenticated %}
<h1>Add post</h1>
{{test}}
<form method="POST" id="myblog">
    {% csrf_token %}.
    {{ form.media }}
    {{ form.as_p }}
    <button type="submit" name="blog">Post</button>
    <button type="submit" name="save_blog">Save</button>
</form>

<form method="post" enctype="multipart/form-data" id="image_blog">
    {% csrf_token %}
    <input name='image' type='file' multiple>
    <button type="submit" name="imgpic">Upload</button>
</form>
<button onclick="myFunction()">test</button>
{% if img_obj %}
{% for image in img_obj %}
{{image.image.url}}
<img src="{{image.image.url}}" alt="connect" height="300", width="300">
{% endfor %}
{% endif %}

{% else %} 
<script>alert('You need to login.')</script>
<META HTTP-EQUIV="Refresh" CONTENT="0 ; URL={% url 'account_login' %}">
{% endif %}
<script>
    function myFunction() {
        document.getElementById("myblog").submit();
        document.getElementById("image_blog").submit();
    }
    </script>
{% endblock %}