{% extends 'base.html' %}

{% block main_content %}
{% if catlist.posts.count == 0 %}
    <p>No post Here</p>
    <li><a href="{% url 'trip:addpost' %}">---Add post---</a></li>
{% else %}
    <ul>
    {% for post in catlist.posts %}
        <li><a href="{% url 'trip:tripdetail' post.pk %}">{{ post.title }}</a> 
        <p>{{ post.author }}</p>
        <p>{{ post.duration }}</p>
        <p>{{ post.price }}</p>
        <p>{{ post.body }}</p>
        {% if user.is_authenticated %}
            {%if user.id == post.author.id%}
                <a href="{% url 'trip:editpost' post.pk%}">(Edit)</a>
                <a href="{% url 'trip:deletepost' post.pk%}">(!!!DELETE!!!)</a>
            {% endif %}
        {% else %}
        {% endif %}
        <p>-----------------------------------------------------</p>
    {% endfor %}</ul>
    <li><a href="{% url 'trip:addpost' %}">---Add post---</a></li>
{% endif %}
{% endblock %}