{% extends 'base.html' %}
{% load static tailwind_tags %}

{% block header %}
    <title>ThaiRepose</title>
    <style>
        .bg-page {
            background-image: url("{% static 'images/bg.jpg' %}");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }

        .bg-translucent {
            /* Background color */
            background-color: rgba(227, 229, 232, 0.8);
        }

        .main-container {
            width: 50vw;
        }

        @media only screen and (max-width: 768px) {
            .main-container {
                width: 100vw;
            }
        }
    </style>
    <link href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet">
{% endblock %}

{% block main_content %}

    <div class="bg-page flex flex-grow justify-center md:items-center items-start pt-5 md:pt-0 overflow-y-scroll">
        <div class="flex flex-col md:flex-row justify-center max-w-7xl mx-auto bg-fixed w-screen space-y-60 md:space-y-0">
            <!-- Left side -->
            <div class="main-container text-gray-600 flex-grow flex justify-center items-center" style="z-index: 10;">
                <div class="fixed rounded-3xl flex justify-center bg-fixed w-5/6 md:w-full max-w-lg flex flex-col shadow-lg focus:shadow-xl hover:shadow-xl transition ease-in-out duration-200 focus:outline-none">
                    <div class="text-gray-600 focus-within:text-gray-400 w-full focus:outline-none">
                        <span class="absolute mt-1 left-0 flex items-center pl-2">
                            <button type="submit" class="p-1 focus:outline-none focus:shadow-outline">
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                     stroke-width="2"
                                     viewBox="0 0 24 24" class="w-6 h-6"><path
                                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                            </button>
                        </span>
                        <input type="search" id='autocomplete'
                               class="w-full py-2 pl-14 bg-white rounded-full text-md focus:outline-none focus:outline-none border-none"
                               placeholder="Find your trip!">
                        <input type="hidden" id="url" value="{% url 'search:place-list' %}">
                    </div>
                    <div style="margin-top: 20px; z-index: 10;" class="fixed w-5/6 md:w-full max-w-lg shadow-lg focus:shadow-xl hover:shadow-xl transition ease-in-out duration-200 focus:outline-none">
                        <div id="search-results" style="z-index: 10;" class="absolute rounded-b-lg flex justify-center bg-fixed w-full max-w-lg flex flex-col shadow-lg focus:shadow-xl hover:shadow-xl transition ease-in-out duration-200 focus:outline-none">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Right side -->
            <div class="main-container text-gray-600 flex-row flex justify-center" style="z-index: 1;">
                <div class="bg-translucent w-5/6 max-w-md py-3 rounded-2xl px-4" style="z-index: 1;">
                    <div class="mb-3 text-center text-xl font-bold" style="z-index: 1;">TOP</div>
                    {% for trip in top_trips %}
                        <a href="{% url 'trip:tripdetail' trip.id %}">
                            <div class="py-3 text-lg hover:text-gray-500" style="z-index: 1;"></i>{{ forloop.counter }}. {{ trip.title }}</div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&libraries=places"></script>
    <script>
      function getQueryFromDatabase(keyword) {
        let response = $.ajax({
          type: 'POST',
          url: "{% url 'trip:get-trip-query' %}",
          async: false,
          data: {
            csrfmiddlewaretoken: "{{ csrf_token }}",
            keyword: JSON.stringify(keyword),
          },
        });
        return response.responseJSON;
      }

      let trip_detail_url = "{% url 'trip:tripdetail' 0 %}".replace('0/', '');

      function displayQueries(e, places_added) {
        let keyword = $("#autocomplete")[0].value;
        if (keyword.length === 0) {
          //$("#search-results").empty();
          document.getElementById("autocomplete").classList.remove("rounded-t-xl");
          document.getElementById("autocomplete").classList.add("rounded-full");
          return;
        }
        let response = getQueryFromDatabase(keyword);
        let all_trips = response.results;
        let result_box = document.getElementById("search-results");
        document.getElementById("autocomplete").classList.add("rounded-t-xl");
        document.getElementById("autocomplete").classList.remove("rounded-full");
        result_box.innerHTML = "";
        if (all_trips.length === 0 && places_added.length === 0) {
          result_box.innerHTML += `<div><div style="word-wrap: break-word;" class="relative h-9 w-full py-2 pl-14 bg-white rounded-b-xl text-md focus:outline-none focus:outline-none border-none shadow-lg transition ease-in-out duration-200"><div style="text-overflow: ellipsis;">No result</div></div></div>`;
          return;
        }
        for (let i = 0; i < all_trips.length; i++) {
            result_box.innerHTML += `<a href="${trip_detail_url}${all_trips[i].id}"><div style="word-wrap: break-word; z-index: 10;" class="relative h-9 w-full py-2 pl-14 bg-white text-md focus:outline-none focus:outline-none border-none md:hover:scale-110 transition ease-in-out duration-200 border-b-2"><div style="text-overflow: ellipsis; z-index: 10;"><span style="z-index: 10;" class="material-icons md-20 mr-2 inline-block align-middle">backpack</span>${all_trips[i].name}</div></div></a>`;
        }
      }
    </script>
    <script>
      /**
       * Synchronous timeout for specified milliseconds.
       * @param {number} ms - timeout period.
       */
      function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
      }

      const place_detail_url = "{% url 'trip:place-detail' 0 %}".replace("0/", "");
      const place_list_url = "{% url 'search:place-list' %}";

      /**
       * Display places queries requested from Google API.
       * @param {array.<place>} places - array containing places detail includes name placeId latitude longitude.
       */
      function displayPlaceQueries(places) {
        let result_box = document.getElementById("search-results");
        let maximum = 3;
        let place_added = 0;
        let nearby_added = 0;
        for (let i=0; i<places.length; i++) {
          if (places[i].type === "place" && place_added < maximum) {
            result_box.innerHTML += `<a href="${place_detail_url}${places[i].placeId}"><div style="z-index: 10;" class="relative w-full py-2 pl-14 h-9 bg-white text-md focus:outline-none focus:outline-none border-none shadow-lg md:hover:scale-110 transition ease-in-out duration-200"><div  style="z-index: 10;"><span class="material-icons material-icons-outlined md-20 mr-2 inline-block align-middle">pin_drop</span>${places[i].name}<span style="text-overflow: ellipsis;" class="text-gray-400 text-sm">  - ${places[i].address}</span></div></div></a>`;
            place_added++;
          } else if (places[i].type === "nearby" && nearby_added < maximum) {
            result_box.innerHTML += `<a href="${place_list_url}?lat=${places[i].lat}&lng=${places[i].lng}"><div style="z-index: 10;" class="relative h-9 w-full py-2 pl-14 bg-white text-md focus:outline-none focus:outline-none border-none shadow-lg md:hover:scale-110 transition ease-in-out duration-200"><div style="text-overflow: ellipsis; z-index: 10;"><span style="z-index: 10;" class="material-icons material-icons-outlined md-20 mr-2 inline-block align-middle">location_city</span>Search nearby: ${places[i].name}</div></div></a>`;
            nearby_added++;
          }
        }
      }

      /**
       * make queries box rounded corners.
       */
      function roundedSearchBox() {
          document.getElementById("search-results").lastElementChild.lastElementChild.classList.add("rounded-b-xl");
      }

      var delayTimer;

      /**
       * Initialize autocomplete queries.
       */
      function initAutocomplete() {
        const service = new google.maps.places.AutocompleteService();
        const place_service = new google.maps.places.PlacesService(document.createElement('div'));
        $("#autocomplete").on('input', function (event) {
          clearTimeout(delayTimer);
          let places = [];
          delayTimer = setTimeout(async function () {
            let keyword = document.getElementById("autocomplete").value;
            if (keyword !== "") {
              await service.getPlacePredictions({
                input: keyword,
                componentRestrictions: {country: "th"},
                types: ['establishment', 'geocode'],
              }, (suggestions, status) => {
                if (status !== "OK")
                  return;
                for (let idx = 0; idx < suggestions.length; idx++) {
                  place_service.getDetails({
                    placeId: suggestions[idx].place_id,
                    fields: ['place_id', 'geometry', 'name', 'formatted_address']
                  }, (result, status) => {
                    if (status !== "OK")
                      return;
                    let lat = result.geometry.location.lat();
                    let lng = result.geometry.location.lng();
                    places.push({
                      type: "nearby",
                      name: result.name,
                      address: result.formatted_address,
                      lat: lat,
                      lng: lng
                    });
                  })
                  places.push({
                    type: "place",
                    name: suggestions[idx].structured_formatting.main_text,
                    address: suggestions[idx].structured_formatting.secondary_text,
                    placeId: suggestions[idx].place_id
                  });
                }
              });
            }
            $('#search-results').empty();
            await sleep(200);
            await displayQueries(event, places);
            await displayPlaceQueries(places);
            await sleep(150);
            await roundedSearchBox();
            await sleep(2000);
          }, 750);
        })
      }

      google.maps.event.addDomListener(window, 'load', initAutocomplete);
    </script>
{% endblock %}