{% extends 'base.html' %}
{% load static tailwind_tags %}

{% block header %}
    <title>ThaiRepose</title>
    <style>
      .bg-page {
            background-image: url("{% static 'images/bg.jpg' %}");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }

      .bg-translucent {
            /* Background color */
            background-color: rgba(227, 229, 232, 0.8);
        }

      .main-container {
          width: 50vw;
      }

      @media only screen and (max-width: 768px) {
        .main-container {
          width: 100vw;

        }
      }
    </style>
    <link href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet">
{% endblock %}

{% block main_content %}

<div class="bg-page flex flex-grow justify-center md:items-center items-start pt-5 md:pt-0">
  <div class="flex flex-col md:flex-row justify-center max-w-7xl mx-auto bg-fixed w-screen space-y-20 md:space-y-0">
      <!-- Left side -->
    <div class="main-container text-gray-600 flex-grow flex justify-center items-center" style="z-index: 1;">
      <div class="relative rounded-3xl flex justify-center bg-fixed w-5/6 md:w-full max-w-lg">
    <div class="relative text-gray-600 focus-within:text-gray-400 w-full">
      <span class="absolute mt-1 left-0 flex items-center pl-2">
        <button type="submit" class="p-1 focus:outline-none focus:shadow-outline">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-6 h-6"><path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
        </button>
      </span>
        <input type="search" id='autocomplete' class="w-full py-2 pl-14 bg-white rounded-full text-md focus:outline-none focus:outline-none border-none shadow-lg focus:shadow-xl hover:shadow-xl transition ease-in-out duration-200" placeholder="Find your trip!">
    <input type="hidden" id="url" value="{% url 'search:place-list' %}">
    </div>
      </div>
    </div>
      <!-- Right side -->
    <div class="main-container text-gray-600 flex-row flex justify-center" style="z-index: 1;">
        <div class="bg-translucent w-5/6 max-w-md py-3 rounded-2xl px-4">
            <div class="mb-3 text-center text-xl font-bold">TOP</div>
            <div class="py-3 text-lg">1</div>
            <div class="py-3 text-lg">2</div>
            <div class="py-3 text-lg">3</div>
            <div class="py-3 text-lg">4</div>
            <div class="py-3 text-lg">5</div>
            <div class="py-3 text-lg">6</div>
        </div>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&libraries=places&callback=initAutocomplete" async defer>
    </script>
    <script>
    let lastCall = Date.now();

    function initAutocomplete(){
        let options = {
          types: ['establishment', 'geocode'],
          componentRestrictions: {country: "th"},
          field: ['place_id', 'geometry', 'name']
        };

        let input = $('#autocomplete')[0];
        if(input){
            var autocomplete = new google.maps.places.Autocomplete(input, options);
            google.maps.event.addListener(autocomplete, 'place_changed', function() {
                var place = autocomplete.getPlace();
                var lat = place.geometry.location.lat(),
                        lng = place.geometry.location.lng();
                const urlElement = document.getElementById('url');
                window.location.replace(`${urlElement.value}?lat=${lat}&lng=${lng}`)
            });
            $('#autocomplete').keypress(function(event){
                console.log(1);
                let miliseconds = (Date.now() - lastCall)
                if(miliseconds <= 3000){
                    console.log(2);
                    event.preventDefault();
                    $('#autocomplete').val($('#autocomplete').val()+event.key);
                    setTimeout(function(){
                        console.log(3);
                        google.maps.event.trigger($('#autocomplete')[0],'focus',{});
                        lastCall = Date.now();
                    }, 2999);
                }
                lastCall = Date.now()
            });
        }
    }
    </script>
    <script>
        function getQueryFromDatabase(keyword) {
          $.ajax({
            type: 'POST',
            url: "{% url 'trip:get-trip-query' %}",
            async: false,
            data: {
              csrfmiddlewaretoken: "{{ csrf_token }}",
              places: JSON.stringify(keyword),
            },
          })
        }
        async function displayQueries(e) {
          let all_trips = [];
          console.log(e);
          let keyword = "";
          //await getQueryFromDatabase(keyword);
        }
    </script>
{% endblock %}