{% extends 'base.html' %}
{% load static tailwind_tags %}

{% block header %}
    <title>ThaiRepose::{{ name }}</title>
    <style>
        body {
            background: url("{% static 'images/bg-blur.jpg' %}") no-repeat fixed;
            background-size: cover;
        }
    </style>
    <link rel="stylesheet" href="{% static 'trip/css/container_blocks.css' %}" />
    <link rel="stylesheet" href="https://npmcdn.com/flickity@2/dist/flickity.css" />
{% endblock %}

{% block main_content %}
    <div class="flex flex-grow items-center justify-center px-5 py-5 md:px-10 md:py-10">
        <div class="w-full rounded-3xl container-lg container-height flex flex-col md:overflow-hidden">
            <div id="place_name" class="mx-8 my-6">
                <h1 class="text-3xl font-bold underline-md" style="line-height: 1.6;">{{ place_name }}</h1>
            </div>
            <div class="h-full flex flex-col md:flex-row">
                <div class="w-full md:w-2/5">
                    <!-- Flickity HTML init -->
                    <div class="carousel js-flickity h-60 md:h-2/5 js-show-on-scroll">
                        {% if images %}
                            {% for image in images %}
                                <div class="carousel-cell" style="height: 100%">
                                    {% if downloaded == True %}
                                    <img src="{% static 'images/places_image/' %}{{ place_id }}_{{ image }}photo.jpeg">
                                    {% else %}
                                    <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=600&photo_reference={{ image }}&key={{ api_key }}" alt="{{ name }}">
                                    {% endif %}
                               </div>
                            {% endfor %}
                            {% else %}
                                <div class="carousel-cell" style="height: 100%">
                                    <img src="{% static 'trip/images/img_not_found.jpg' %}" alt="NotFound" />
                                </div>
                        {% endif %}
                    </div>
                    <div id="basic-info" class="flex flex-col lg:flex-row mt-15 js-show-on-scroll">
                        <div class="flex flex-col w-full lg:w-1/2 ml-6 lg:ml-9">
                            <h1 class="text-2xl font-bold">CONTACT</h1>
                            <div class="flex flex-row mt-2">
                                <span class="text-lg">Phone:&nbsp;</span>
                                {% if phone %}
                                    <a class="text-lg text-indigo-500 underline" href="tel:{{ phone }}">{{ phone }}</a>
                                {% else %}
                                    <a class="text-lg">N/A</a>
                                {% endif %}
                            </div>
                            <div class="w-4/5 md:w-full h-full">
                                <p class="text-lg">Website:&nbsp;</p>
                                {% if website %}
                                    <a href="{{ website }}" class="text-lg text-indigo-500 underline" target="_blank"><span class="limit-text">{{ website }}</span></a>
                                {% else %}
                                    <a class="text-lg">N/A</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="flex justify-center w-full lg:w-1/2 lg:justify-end mt-4 lg:mt-0">
                            {% if rating %}
                                {% for _ in rating %}
                                    <span class="material-icons md-36">star_rate</span>
                                {% endfor %}
                                {% for _ in blank_rating %}
                                    <span class="material-icons md-36">star_border</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-2/5">
                    <h1 class="text-2xl font-bold mt-6 ml-10">REVIEWS</h1>
                    <div class="overflow-y-scroll hide-scrollbar px-10 py-2 detail-scrolllist">
                    {% for review in reviews %}
                        <div class="rounded-2xl bg-translucent flex flex-row my-2 transition duration-75 js-show-on-scroll" style="min-height: 7rem;">
                            <div class="px-6 py-4 w-4/5">
                                <h1 class="text-lg font-bold">{{ review.author }}</h1>
                                <p class="text-sm">{{ review.text }}</p>
                            </div>
                            <div class="flex flex-grow">
                                <div class="pt-6 hover:scale-110">
                                    <a href=""><span class="text-5xl">&#8679;</span></a>
                                </div>
                                <div class="pt-12 pr-2 hover:scale-110">
                                    <a href=""><span class="text-5xl">&#8681;</span></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <div class="w-full md:w-1/5">
                    <h1 class="text-xl font-bold mt-6 ml-6">SUGGESTIONS</h1>
                    <div class="overflow-y-scroll hide-scrollbar detail-scrolllist px-10">
                        {% for place in suggestions %}
                            <div class="px-2 py-2 flex justify-center hover:scale-110 transition duration-75 js-show-on-scroll">
                                <a class="rounded-2xl h-52 w-44 bg-translucent px-2 py-2 flex flex-col bg-gray-900" href="{% url 'trip:place-detail' place.place_id %}">
                                    <div class="rounded-2xl bg-gray-300 w-40 h-40">
                                        {% if place.downloaded == True %}
                                        <img class="object-cover h-full w-full rounded-xl" src="{% static 'images/places_image/' %}{{ place.place_id }}photo.jpeg">
                                        {% else %}
                                        <img class="object-cover h-full w-full rounded-xl" src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=600&photo_reference={{ place.photo_ref }}&key={{ api_key }}" alt="{{ name }}">
                                        {% endif %}
                                   </div>
                                    <div class="flex justify-center items-center">
                                        <h1 class="font-bold text-center">{{ place.name }}</h1>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script defer src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
    <script>
        const callback = function (entries) {
          entries.forEach((entry) => {
            console.log(entry);

            if (entry.isIntersecting) {
              entry.target.classList.add("animate-fadeIn");
            } else {
              entry.target.classList.remove("animate-fadeIn");
            }
          });
        };

        const observer = new IntersectionObserver(callback);

        const targets = document.querySelectorAll(".js-show-on-scroll");
        targets.forEach(function (target) {
          target.classList.add("opacity-0");
          observer.observe(target);
        });
    </script>
{% endblock %}