{% extends 'base.html' %}

{% block main_content %}
<ul>
{% for post in object %}
    <li><a href="{% url 'trip:tripdetail' post.pk %}" type="submit">{{ post.title }}</a> 
    <p>{{ post.author }}</p>
    <p>{{ post.duration }}</p>
    <p>{{ post.price }}</p>
    <p>{{ post.body }}</p>
    </li><a href="{% url 'trip:editpost' post.pk%}">(Edit)</a>
    <p>-----------------------------------------------------</p>
{% endfor %}</ul>
<li><a href="{% url 'trip:addpost' %}">---Add post---</a></li>
{% endblock %}