{% extends 'base.html' %}
{% block header %}
    <style>
         p {
            max-width: 75ch;
            word-wrap: break-word;
        }
    </style>
{% endblock %}

{% block main_content %}
<h1>{{ post.title }} </h1>
<small> By: {{ post.author }}</small>
<p>Create at: {{ post.post_date }}</p>
<P>durations: {{ post.duration }}</P>
<P>price: {{ post.price }}</P>
<p>{{ post.body|safe }}<p>
<form action="{% url 'trip:list_trip' post.pk %}" method="POST">
    {% csrf_token %}
    <button type="submit" name="trip_id" value="{{ post.id }}">Like</button>
    - {{ post.total_like }}
</form>
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
<a href="{% url 'trip:editpost' post.pk%}">(Edit)</a>
<a href="{% url 'trip:deletepost' post.pk%}">(!!!DELETE!!!)</a>
    {% endif %}
{% endif %}
<a href="{% url 'trip:tripplan' %}">(ALL TRIP)</a>
<br/><br>
<h2>Review</h2>
<br>
{% if not commend.all %}
    No review Yet
    {% if user.is_authenticated %}
        <h1>Add Comment</h1>
        <form method="POST">
            {% csrf_token %}
            {{ review_form.as_p }}
            <button>Add comment</button>
        </form>
    {% else %}
        <p>Login to write commend.</p>
    {% endif %}
{% else %}
    <div>
        {% load mptt_tags %}
        {% recursetree commend %}
            {{node.body}}
            <div>{{node.level}} </div>
        {% if not node.is_leaf_node %}
            <div class="children pl-2 pl-md-5">
                <div>{{children}}</div>
            </div>
        {% endif %}
        {% endrecursetree %}
    </div>
    <!-- {% for commend in commend %}
    <strong>{{commend.name}} - {{commend.date_added}} </strong>
    {{commend.body}} -->
    <!-- <form action="{% url 'trip:list_commend' post.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit" name="commend_id" value="{{ commend.id }}">Like</button>
        - {{ commend.total_like }}
    </form>
    <br> -->
    <!-- {% endfor %} -->
    <p>---Add commend---</p>
    {% if user.is_authenticated %}
        <h1>Add Comment</h1>
        <form method="POST">
            {% csrf_token %}
            {{ review_form.as_p }}
            <button>Add comment</button>
        </form>
    {% else %}
        <p>Login to wirte commend.</p>
    {% endif %}
{% endif %}
{% endblock %}