{% extends 'base.html' %}

{% block main_content %}
{{user}}
{{post.author.id}}
{% if user.is_authenticated %}
    {% if user.id == post.author.id%}
    <h1>Update post</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button>Edit</button>
    </form>
    {% else %}
    <script>alert('You are allow to access.')</script>
    <META HTTP-EQUIV="Refresh" CONTENT="0 ; URL={% url 'trip:tripplan' %}">
    {% endif %}
{% else %}
<a href="{% url 'account_login' %}">You need to login</a>
{% endif %}
{% endblock %}