[run]
# measure branch coverage
branch = True
# don't test the Python standard library
cover_pylib = False
# omit uninteresting files
omit =
    */migrations/*
    */api.py
    */caching_gmap.py
    */adapter.py
    */manage.py
    */tests* 