{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% load static tailwind_tags %}

{% block header %}
{% tailwind_css %}
    <title>ThaiRepose</title>
    <style>
        body {
            background-image: url("{% static 'images/bg.jpg' %}");
            background-repeat: no-repeat;
            background-position: center cover;
            background-size: 100% 100%;
        }
    </style>
{% endblock %}

{% block main_content %}
{% if messages %}
<div>
  <strong>Messages:</strong>
  <ul>
    {% for message in messages %}
    <script>alert("login");</script>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% if socialaccount_providers %}
<script>alert("Please Sign in");</script>
<div class="socialaccount_ballot">
  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>
</div>
{% include "socialaccount/snippets/login_extra.html" %}
{% else %}
<script>alert("If you have not created an account yet, then please sign up first.");</script>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  <div class="flex items-center justify-center h-screen w-full bg-cover bg-center"
    style="background-image: url('https://cdn.discordapp.com/attachments/901501438067351656/901501516660219914/webb-07.png')">
    <div class="container mx-auto">
      <div class="flex justify-center px-6 my-12">
        <!-- Row -->
        <div class="w-full lg:w-3/4 lg:w-11/12 flex">
          <!-- Col -->
          <div class="w-full h-auto bg-yellow-600 lg:block lg:w-5/12 bg-cover bg-center rounded-l-lg"
            style="background-image: url('https://cdn.discordapp.com/attachments/901501438067351656/901502756718784512/webb-05.png')">
          </div>
          <!-- Col -->
          <div class="w-full lg:w-7/12 bg-white p-5 rounded-lg lg:rounded-l-none">
            <div>
              <span class="flex justify-center text-gray-900">Welcome</span>
              <h1 class="flex justify-center font-bold">Login to your account</h1>
              <br>
              <div class="flex justify-between">
                <label class='ml-4'>usernaem<label>
                <label class='mr-10'>{{form.login}}</label>
                <label class='ml-20'>password<label>
                  {{form.password}}
              </div>
              <div class="flex justify-end text-right mt-2 ">
                <a href="{% url 'account_reset_password' %}" class="text-sm font-semibold text-gray-700 hover:text-blue-700 focus:text-blue-700">Forgot Password?</a>
              </div>
              <div class="flex justify-end text-right mt-2 ">
                <a href="{{ signup_url }}" class="text-sm font-semibold text-gray-700 hover:text-blue-700 focus:text-blue-700">Don't have account? Signup</a>
              </div>
              <button type="submit" class="primaryAction w-full block bg-white hover:bg-gray-100 focus:bg-gray-100 text-gray-900 font-semibold rounded-lg px-4 py-3 border border-gray-300">
                {% trans "Sign In" %}
              </button>
              <br>
              <div class="">
                <div class="flex space-x-2 justify-center items-end text-black py-2 rounded-md">
                  <p> or </p>
                </div>
              </div>
              <hr class="my-6 border-gray-300 w-full">
              <button type="button" class="w-full block bg-white hover:bg-gray-100 focus:bg-gray-100 text-gray-900 font-semibold rounded-lg px-4 py-3 border border-gray-300">
                <div class="flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="w-6 h-6" viewBox="0 0 48 48"><defs><path id="a" d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z"/></defs><clipPath id="b"><use xlink:href="#a" overflow="visible"/></clipPath><path clip-path="url(#b)" fill="#FBBC05" d="M0 37V11l17 13z"/><path clip-path="url(#b)" fill="#EA4335" d="M0 11l17 13 7-6.1L48 14V0H0z"/><path clip-path="url(#b)" fill="#34A853" d="M0 37l30-23 7.9 1L48 0v48H0z"/><path clip-path="url(#b)" fill="#4285F4" d="M48 48L17 24l-4-3 35-10z"/></svg>
                <span class="ml-4"><ul class="socialaccount_providers">
                  {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                </ul></span>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

{% endblock %}