{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% load socialaccount %}
{% load widget_tweaks %}
{% load static tailwind_tags %}


{% block header %}
  <title>ThaiRepose::{{ name }}</title>
    <style>
        body {
            background: url("{% static '/images/bg-blur.jpg' %}") no-repeat fixed;
            background-size: cover;
        }
    </style>
    <link rel="stylesheet" href="{% static 'trip/css/container_blocks.css' %}" />
    <link rel="stylesheet" href="https://npmcdn.com/flickity@2/dist/flickity.css" />
{% endblock %}

{% block main_content %}
<div id="content" class="flex flex-grow items-center justify-center px-5 py-5 md:px-10 md:py-10 mb-20">
<!-- Container -->
		<div class="container mx-auto">
			<div class="flex justify-center px-6 my-12">
				<!-- Row -->
				<div class="w-full xl:w-3/4 lg:w-11/12 flex rounded-lg" style="background-color: rgba(255,255,255,0.75);">
					<!-- Col -->
					<div
						class="w-full h-auto bg-gray-400 hidden lg:block lg:w-5/12 bg-cover rounded-l-lg"
						style="background-image: url('{% static '/template-picture/beach_picture.jpg'%}')"
					>
                        <image class="w-2/6 mx-auto" src="{% static '/template-picture/tr-logo.png'%}">
                    </div>
					<!-- Col -->
					<div class="w-full lg:w-7/12 p-5">
						<h3 class="pt-4 text-3xl text-center">Login</h3>
						<form class="login px-8 pt-6 pb-8 mb-4 rounded" method="Post" action="{% url 'account_login' %}">
              {% csrf_token %}
              <div>
                {{form.login.label}}</br>{% render_field form.login class="input rounded-md" style="width:100%;"%}
              </div>
							<div class="mt-4">
                {{form.password.label}}</br>{% render_field form.password class="input rounded-md" style="width:100%;"%}
              </div>
							<div class="mb-6 text-center">
								<button
									class="w-full mt-4 px-4 py-2 font-bold text-white bg-black rounded-full hover:bg-black focus:outline-none focus:shadow-outline"
									type="submit"
								>
									Login
								</button>
							</div>
              {% if form.errors %}
                {% for field in form %}
                  {% for error in field.error_messages %}
                    <div class="flex justify-between text-sm px-4 py-2 mt-2 text-red-700 bg-red-100 rounded-lg">
                      <p class="self-center">
                        {{ error }}
                      </p>
                      <strong class="text-xl align-center cursor-pointer alert-del">&times;</strong>
                    </div>
                  {% endfor %}
                {% endfor %}
              {% for error in form.non_field_errors %}
                <div class="flex justify-between text-sm px-4 py-2 mt-2 text-red-700 bg-red-100 rounded-lg">
                      <p class="self-center">
                        {{ error }}
                      </p>
                      <strong class="text-xl align-center cursor-pointer alert-del">&times;</strong>
                    </div>
              {% endfor %}
              {% endif %}
              <div class="flex justify-between mt-4">
                <div>
                  <a
                    class="text-sm text-blue-500 align-baseline hover:text-blue-800"
                    href="{% url 'account_signup' %}"
                  >
                    Sign up with email
                  </a>
                </div>
                <div>
                  <a
                    class="text-sm text-blue-500 align-baseline hover:text-blue-800"
                    href="{% url 'account_reset_password' %}"
                  >
                    Forgot Password?
                  </a>
                </div>
              </div>
              <hr class="my-6 border-gray-300 w-full">
              <button onclick="document.location='{% provider_login_url 'google' %}'" class="w-full py-2 rounded-lg bg-white shadow-md">
                <div class="flex justify-center">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="w-6 h-6"
                    viewBox="0 0 48 48">
                    <defs>
                      <path id="a"
                        d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z" />
                    </defs>
                    <clipPath id="b">
                      <use xlink:href="#a" overflow="visible" />
                    </clipPath>
                    <path clip-path="url(#b)" fill="#FBBC05" d="M0 37V11l17 13z" />
                    <path clip-path="url(#b)" fill="#EA4335" d="M0 11l17 13 7-6.1L48 14V0H0z" />
                    <path clip-path="url(#b)" fill="#34A853" d="M0 37l30-23 7.9 1L48 0v48H0z" />
                    <path clip-path="url(#b)" fill="#4285F4" d="M48 48L17 24l-4-3 35-10z" />
                  </svg>
                <span class="ml-4">
                  Login with Google
                </span>
                </div>
                
              </button>
              {% comment %} <button type="button"
                class="w-full block bg-white hover:bg-gray-100 focus:bg-gray-100 text-gray-900 font-semibold rounded-lg px-4 py-3 border border-gray-300">
                <div class="flex items-center justify-center">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="w-6 h-6"
                    viewBox="0 0 48 48">
                    <defs>
                      <path id="a"
                        d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z" />
                    </defs>
                    <clipPath id="b">
                      <use xlink:href="#a" overflow="visible" />
                    </clipPath>
                    <path clip-path="url(#b)" fill="#FBBC05" d="M0 37V11l17 13z" />
                    <path clip-path="url(#b)" fill="#EA4335" d="M0 11l17 13 7-6.1L48 14V0H0z" />
                    <path clip-path="url(#b)" fill="#34A853" d="M0 37l30-23 7.9 1L48 0v48H0z" />
                    <path clip-path="url(#b)" fill="#4285F4" d="M48 48L17 24l-4-3 35-10z" />
                  </svg>
                  <span class="ml-4">
                    <ul class="socialaccount_providers">
                      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                    </ul>
                  </span>
                </div>
              </button> {% endcomment %}
						</form>
					</div>
				</div>
			</div>
		</div>
</div>
<script>
  var alert_del = document.querySelectorAll('.alert-del');
  alert_del.forEach((x) =>
    x.addEventListener('click', function () {
      x.parentElement.classList.add('hidden');
    })
  );
</script>
{% endblock %}
