{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% load widget_tweaks %}
{% load static tailwind_tags %}

{% block header %}
    <title>ThaiRepose::{{ name }}</title>
    <style>
        body {
            background: url("{% static '/images/bg-blur.jpg' %}") no-repeat fixed;
            background-size: cover;
        }
    </style>
    <link rel="stylesheet" href="{% static 'trip/css/container_blocks.css' %}" />
    <link rel="stylesheet" href="https://npmcdn.com/flickity@2/dist/flickity.css" />
{% endblock %}

{% block main_content %}
    <div id="content" class="flex flex-grow items-center justify-center px-5 py-5 md:px-10 md:py-10 mb-20">
        <div class="relative py-3 sm:max-w-xl md:mx-auto">
            <div class="relative px-8 pt-8 bg-white shadow-lg bg-opacity-70 rounded-3xl">
                <div class="max-w-md mx-auto">
                    <div class="text-2xl font-medium">Change Password</div>
                    <div class="divide-y divide-gray-200">
                        <div class="pt-8 pb-2 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
                            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                                {% csrf_token %}
                                <div class="relative">
                                    <div>
                                        {{ form.oldpassword.label }}
                                        {% render_field form.oldpassword class="input rounded-md" style="width:100%;"%}
                                    </div>
                                    <div class="mt-3">
                                        {{ form.password1.label }}
                                        {% render_field form.password1 class="input rounded-md" style="width:100%;"%}
                                    </div>
                                    <div class="mt-3">
                                        {{ form.password2.label }}
                                        {% render_field form.password2 class="input rounded-md" style="width:100%;"%}
                                    </div>
                                </div>
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="flex justify-between text-sm px-4 py-2 mt-2 text-green-700 bg-green-100 rounded-lg">
                                                <p class="self-center">
                                                {{ message }}
                                                </p>
                                                <strong class="text-xl align-center cursor-pointer alert-del">&times;</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {% if form.errors %}                                        
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <div class="flex justify-between text-sm px-4 py-2 mt-2 text-red-700 bg-red-100 rounded-lg">
                                                <p class="self-center">
                                                {{ error }}
                                                </p>
                                                <strong class="text-xl align-center cursor-pointer alert-del">&times;</strong>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                                <div class="relative">
                                    <button type="Submit" name="action" class="bg-black text-white rounded-3xl px-8 pt-2 pb-2  text-base mt-3 mb-1">Continue</button>
                                </div>
                                <a class="text-sm" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
	    </div>
    </div>

<script>
  var alert_del = document.querySelectorAll('.alert-del');
  alert_del.forEach((x) =>
    x.addEventListener('click', function () {
      x.parentElement.classList.add('hidden');
    })
  );
</script>
{% endblock %}
