{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% load widget_tweaks %}
{% load static tailwind_tags %}


{% block header %}
    <title>ThaiRepose::{{ name }}</title>
    <style>
        body {
            background: url("{% static '/images/bg-blur.jpg' %}") no-repeat fixed;
            background-size: cover;
        }
    </style>
    <link rel="stylesheet" href="{% static 'trip/css/container_blocks.css' %}" />
    <link rel="stylesheet" href="https://npmcdn.com/flickity@2/dist/flickity.css" />
{% endblock %}

{% block main_content %}
    <div id="content" class="flex flex-grow items-center justify-center px-5 py-5 md:px-10 md:py-10 mb-20">
        <div class="relative py-3 sm:max-w-xl md:mx-auto">
            <div class="relative px-8 pt-8 bg-white shadow-lg bg-opacity-70 rounded-3xl">
                <div class="max-w-md mx-auto">
                    <div class="text-2xl font-medium">{% trans "Password Reset" %}</div>
                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    <div class="divide-y divide-gray-200">
                        <div class="pt-8 pb-2 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
                        <p class="text-sm">Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>
                        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                            {% csrf_token %}
                            <div class="relative">
                                {% render_field form.email class="input rounded-md" style="width:100%;"%}
                            </div>
                            {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <div class="flex justify-between text-sm px-4 py-2 mt-2 text-red-700 bg-red-100 rounded-lg">
                                            <p class="self-center">
                                            {{ error }}
                                            </p>
                                            <strong class="text-xl align-center cursor-pointer alert-del">&times;</strong>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                            <div class="relative">
                                <button class="bg-black text-white rounded-3xl px-8 pt-2 pb-2  text-base mt-3" type="Submit">Continue</button>
                            </div>
                            <p class="text-sm mt-4">Go back to 
                            {% if user.is_authenticated %}
                            <a class="text-blue-600" href="{% url 'account_login'%}">Home page</a>
                            {% else %}
                            <a class="text-blue-600" href="{% url 'account_login'%}">Login page</a>
                            {% endif %}
                            </p>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
	    </div>
    </div>

<script>
  var alert_del = document.querySelectorAll('.alert-del');
  alert_del.forEach((x) =>
    x.addEventListener('click', function () {
      x.parentElement.classList.add('hidden');
    })
  );
</script>
{% endblock %}

