{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% load static tailwind_tags %}

{% block header %}
    <title>ThaiRepose::{{ name }}</title>
    <style>
        body {
            background: url("{% static '/images/bg-blur.jpg' %}") no-repeat fixed;
            background-size: cover;
        }
    </style>
    <link rel="stylesheet" href="{% static 'trip/css/container_blocks.css' %}" />
    <link rel="stylesheet" href="https://npmcdn.com/flickity@2/dist/flickity.css" />
{% endblock %}

{% block main_content %}
    <div id="content" class="flex flex-grow items-center justify-center px-5 py-5 md:px-10 md:py-10 mb-20">
        <div class="relative py-3 sm:max-w-xl md:mx-auto">
            <div class="relative px-8 pb-2 pt-8 bg-white shadow-lg bg-opacity-70 rounded-3xl">
                <div class="max-w-md mx-auto">
                    <img class="w-16 md:w-16 mx-auto" src="{% static "/template-picture/favpng_check-mark-tick.png" %}">
                    <div class="relative text-3xl mt-10 font-medium text-center">Success</div>
                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    <div class="divide-y divide-gray-200">
                        <div class="pt-2 pb-2 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
                            <div class="relative text-lg font-medium">Your password have been changed.</div>
                            <p class="text-sm mt-4">Go back to 
                            {% if user.is_authenticated %}
                            <a class="text-blue-600" href="{% url 'account_login'%}">Home page</a>
                            {% else %}
                            <a class="text-blue-600" href="{% url 'account_login'%}">Login page</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
	    </div>
    </div>
{% endblock %}
