{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% load widget_tweaks %}
{% load static tailwind_tags %}

{% block header %}
    <title>ThaiRepose::{{ name }}</title>
    <style>
        body {
            background: url("{% static '/images/bg-blur.jpg' %}") no-repeat fixed;
            background-size: cover;
        }
    </style>
    <link rel="stylesheet" href="{% static 'trip/css/container_blocks.css' %}" />
    <link rel="stylesheet" href="https://npmcdn.com/flickity@2/dist/flickity.css" />
{% endblock %}

{% block main_content %}
    <div id="content" class="flex flex-grow items-center justify-center px-5 py-5 md:px-10 md:py-10 mb-20">
        <div class="relative py-3 sm:max-w-xl md:mx-auto">
            <div class="relative px-8 pb-2 pt-8 bg-white shadow-lg bg-opacity-70 rounded-3xl">
                <div class="max-w-md mx-auto">
                    <div class="text-2xl mb-2">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</div>
                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p class="mb-4">The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.</p>
                    {% else %}
                        {% if form %}
                            <form method="POST" action="{{ action_url }}">
                                {% csrf_token %}
                                <div>{{ form.password1.label }}{% render_field form.password1 class="input rounded-md" style="width:100%;"%}</div>
                                <div class="mt-6 mb-4">{{ form.password2.label }}{% render_field form.password2 class="input rounded-md" style="width:100%;"%}</div>
                                {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <div class="flex justify-between text-sm px-4 py-2 mt-2 text-red-700 bg-red-100 rounded-lg">
                                            <p class="self-center">
                                            {{ error }}
                                            </p>
                                            <strong class="text-xl align-center cursor-pointer alert-del">&times;</strong>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                {% endif %}
                                <button class="bg-black text-white rounded-3xl px-8 pt-2 pb-2 mt-3 mb-1 text-base" type="Submit">Submit</button>
                            </form>
                        {% else %}
                            <p>{% trans 'Your password is now changed.' %}</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
	    </div>
    </div>
<script>
  var alert_del = document.querySelectorAll('.alert-del');
  alert_del.forEach((x) =>
    x.addEventListener('click', function () {
      x.parentElement.classList.add('hidden');
    })
  );
</script>
{% endblock %}
