{% extends 'base.html' %}
{% load static tailwind_tags %}
{% block header %}
    <title>ThaiRepose</title>
    
    <style>
    
    .bg-page {
            background-image: url("{% static 'images/bg-blur.jpg' %}");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
        
    </style>
{% endblock %}

{% block main_content %}
<div class="bg-page flex-grow">
  <!-- Tailwind CSS -->
  <link href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet">

  <div class="flex-grow rounded-3xl justify-center max-w-6xl mx-auto p-8 m-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-10 bg-green-600 bg-fixed" style="background-color: rgba(209, 213, 219, 0.3);
box-shadow: 3px 8px 10px rgb(0 0 0 / 0.3);">
    <!--Card 1-->
    {% for place in places %}
    <a class="rounded-3xl overflow-hidden shadow-lg bg-gray-300" href="{% url 'trip:place-detail' place.place_id %}"">
    {% if place.photos and place.have_photo == True %}
   <img class="w-full h-80 rounded-3xl p-2" src="{% static 'images/places_image/' %}{{ place.place_id }}photo.jpeg">
    {% else %}
    <img class="w-full h-80 rounded-3xl p-2" src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photo_reference={{ place.photos.0.photo_reference }}&key=AIzaSyBxO1khE-LHn5Z5U2SWpA36D4nKqoWzNRg">
    {% endif %}
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">{{ place.name }}</div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>










{% endblock %}