{% extends 'base.html' %}
{% load static tailwind_tags %}

{% block header %}
    <title>{{ details.name }} | ThaiRepose</title>
    <style>
        body {
            background: url("{% static 'images/bg-blur.jpg' %}") no-repeat fixed;
            background-size: cover;
        }
    </style>
    <link rel="stylesheet" href="{% static 'trip/css/container_blocks.css' %}"/>
    <link rel="stylesheet" href="{% static 'planner/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'planner/css/editor.css' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/@tailwindcss/custom-forms@0.2.1/dist/custom-forms.css" rel="stylesheet"/>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&libraries=places"></script>
    <script>
      function initialize() {
        let input = document.getElementById('place-search');
        let options = {
          componentRestrictions: {country: "th"}
        };
        let autocomplete = new google.maps.places.Autocomplete(input, options);
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
          let place = {};
          place.vicinity = undefined;
          place.place_id = undefined;
          place = autocomplete.getPlace();
          let input_day = document.getElementsByName("add-place_day-selector")[0].value;
          addPlace(input_day, place.name, place.vicinity, place.place_id);
        });
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}

{% block main_content %}
    <div class="flex flex-grow items-center justify-center px-5 py-5 md:px-10 md:py-10 w-screen">
        <div class="h-full w-full rounded-3xl container-lg flex flex-col pb-8">
            <div class="flex flex-col md:flex-row">
                <!-- Left column (details) -->
                <div class="w-full md:w-1/2">
                    <!-- Page title -->
                    <div class="mx-8 my-6 flex flex-row">
                        <h1 id="place_name" class="px-3 text-3xl font-bold hover:outline-black"
                            style="line-height: 1.6;" contenteditable="true">{{ details.name }}</h1>
                        {% if details.author == user %}
                            <span id="cloud-connect"
                                  class="ml-3 material-icons material-icons-outlined md-24 mt-4 opacity-50">cloud_done</span>
                        {% endif %}
                    </div>
                    <!-- Days button -->
                    <div class="flex flex-row items-center custom-number-input h-10 mx-8">
                        <label for="days-amount" class="w-36 mr-4 text-gray-700 text-sm font-semibold">Day(s) for this
                            trip (maximum 6)</label>
                        <div class="flex flex-row h-10 w-36 rounded-lg relative bg-transparent mt-1"
                             style="max-width: 300px;">
                            <button data-action="decrement"
                                    class=" bg-gray-300 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-l cursor-pointer outline-none">
                                <span class="m-auto text-2xl font-thin">−</span>
                            </button>
                            <input readonly type="number"
                                   id="days-selector"
                                   class="outline-none border-none focus:outline-none text-center w-full bg-gray-300 font-semibold text-md hover:text-black focus:text-black md:text-basecursor-default flex items-center text-gray-700"
                                   style="pointer-events: none;"
                                   name="days-amount" value="{{ details.days|default:1 }}">
                            <button data-action="increment"
                                    class="bg-gray-300 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-r cursor-pointer">
                                <span class="m-auto text-2xl font-thin">+</span>
                            </button>
                        </div>
                    </div>
                    <!-- Add place section -->
                    <div class="mx-8 w-full md:w-3/5 my-3 flex sm:flex-row flex-col sm:items-center">
                        <div class="flex flex-row sm:flex-none items-center">
                            <div class="text-lg mr-3">Add:</div>
                            <div class="mr-3 pb-1">
                                <label class="text-left shadow-lg rounded-lg border-none" style="max-width: 400px">
                                    <select class="form-select w-24 mt-1" name="add-place_day-selector"></select>
                                </label>
                            </div>
                        </div>
                        <div class="flex flex-row sm:flex-none items-center">
                            <div class="text-lg mr-3">Place:</div>
                            <div class="w-48">
                                <div class="relative text-gray-600">
                                    <input type="search" id="place-search" name="search" placeholder="Search"
                                           class="bg-white h-10 w-48 px-5 pr-10 rounded-lg border-none shadow-lg text-sm focus:outline-none">
                                    <button type="submit" class="absolute right-0 top-0 mt-3 mr-4">
                                        <svg class="h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
                                             x="0px"
                                             y="0px"
                                             viewBox="0 0 56.966 56.966"
                                             style="enable-background:new 0 0 56.966 56.966;"
                                             xml:space="preserve" width="512px" height="512px">
                                          <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Calculate time button -->
                    <div class="px-8 pb-4 md:pb-0 flex md:flex-row flex-col">
                        <button class="p-2 px-8 bg-translucent text-lg hover:bg-white shadow rounded-lg flex flex-row items-center"
                                onclick="getTravelTime()">
                            Calculate Traveling Time
                            <span class="material-icons material-icons-outlined md-24 ml-2">place</span>
                        </button>
                    </div>
                </div>
                <!-- Right column (settings) -->
                <div class="w-full md:w-1/2 py-6">
                    <!-- Toggle public/private -->
                    <div id="publish" x-data="publishSetting">

                        <div class="flex items-center m-2 cursor-pointer cm-toggle-wrapper"  x-on:click="value =  (value == onValue ? offValue : onValue); editPublish();">
                            <span class="font-semibold text-md mr-1">
                                Private
                            </span>
                            <div class="rounded-full w-8 h-4 p-0.5 bg-gray-300" :class="{'bg-red-500': value == offValue,'bg-green-500': value == onValue}">
                                <div class="rounded-full w-3 h-3 bg-white transform mx-auto duration-300 ease-in-out" :class="{'-translate-x-2': value == offValue,'translate-x-2': value == onValue}"></div>
                            </div>
                            <span class="font-semibold text-md ml-1">
                                Public
                            </span>
                        </div>
                    </div>
                    <button id="copy-btn" class="p-2 px-4 bg-translucent text-lg hover:bg-white shadow rounded-lg ml-2 flex flex-row items-center"
                            onclick="getLink()">
                        Get link
                        <span id="copy" class="material-icons material-icons-outlined md-24 ml-2 transition duration-300 ease-in-out">content_paste</span>
                    </button>
                </div>
            </div>
            <!-- Trip day row -->
            <div id="trip-days">
                <!-- Table created by JS -->
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script id="script" src="{% static 'planner/js/planner_editor.js' %}" token="{{ csrf_token }}"
            directions_url="{% url 'planner:get_travel_time' %}"></script>
    <script src="{% static 'planner/js/main.js' %}"></script>
    <script>
      /**
       * get view-only link for each plan.
       */
      function getLink() {
        /* Get the text */
        let copyText = "{{ request.build_absolute_uri }}";
        copyText = copyText.replace("edit", "view");

        /* Copy the text to clipboard */
        navigator.clipboard.writeText(copyText);
        document.getElementById('copy').innerText = "done";
        document.getElementById('copy').classList.add("text-green-500");
        setTimeout(function() {
          document.getElementById('copy').innerText = "content_paste";
          document.getElementById('copy').classList.remove("text-green-500");
        }, 2000);
      }

      function sendEdit(key, value) {
        document.getElementById('cloud-connect').innerText = "cloud_sync";
        $.ajax({
          type: "POST",
          url: "{% url 'planner:post_edit' %}",
          data: {
            planner_id: {{ details.id }},
            [key]: value,
            csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          success: function (data) {
            if (data['status'] !== 'OK') {
              alert('Error saving to server, please refresh and try again.');
            }
            document.getElementById('cloud-connect').innerText = "cloud_done";
          }
        });
      }

      /**
       * Edit publish setting.
       */
      function editPublish() {
        displaySyncing();
        if (publishSetting.value === 'On') {
          $("#copy-btn")[0].style.display = "";
          sendEdit('publish', 1);
        } else {
          $("#copy-btn")[0].style.display = "none";
          sendEdit('publish', 0);
        }
      }

      var directions;
      // Planner publish setting
      let publishSetting = {
        value: '{{ is_publish }}',
        offValue: 'Off',
        onValue: 'On'
      };
      let days = $('input[name="days-amount"]')[0].value;
      for (let i = 1; i <= days; i++) {
        addNewDay(i);
      }

      {% for place in details.place_set.all %}
        addPlaceToTable({{ place.day }}, '{{ place.place_name }}', '{{ place.place_vicinity }}', '{{ place.place_id }}', '{{ place.arrival_time|date:"H:i" }}', '{{ place.departure_time|date:"H:i" }}');
      {% endfor %}
      checkOverDate();
      {% if is_publish == "Off" %}
        $("#copy-btn")[0].style.display = "none";
      {% endif %}
    </script>
{% endblock %}