{% extends 'base.html' %}
{% load static tailwind_tags %}

{% block header %}
    <title>{{ details.name }} | ThaiRepose</title>
    <style>
        body {
            background: url("{% static 'images/bg-blur.jpg' %}") no-repeat fixed;
            background-size: cover;
        }
    </style>
    <style>
        input[type='number']::-webkit-inner-spin-button,
        input[type='number']::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .custom-number-input input:focus {
            outline: none !important;
        }

        .custom-number-input button:focus {
            outline: none !important;
        }
    </style>
    <style>
        .table {
            border-spacing: 0 11px;
        }

        i {
            font-size: 1rem !important;
        }
        .blink-bg {
            color: #fff;
            animation: blinkingBackground 3s infinite;
        }
        @keyframes blinkingBackground{
            0%		{ background-color: #f02435;}
            50%		{ background-color: transparent;}
            100%	{ background-color: #f02435;}
        }
    </style>
    <style>
        .material-icons.md-18 {
            font-size: 18px;
        }

        .material-icons.md-24 {
            font-size: 24px;
        }

        .material-icons.md-36 {
            font-size: 36px;
        }

        .material-icons.md-48 {
            font-size: 48px;
        }

        #place-search:disabled {
            background-color: rgba(156, 163, 175, 0.7);
        }

        .pac-container {
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
            border-radius: 0.375rem;
            --tw-bg-opacity: 1;
            background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
            width: 12rem;
            transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
            transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
            transition-duration: 150ms;
        }

        .pac-item {
            height: 30px;
            padding-right: 10px;
            padding-left: 10px;
        }

        .pac-item:hover {
            font-family: 'sf_thonburiregular', 'Prompt', sans-serif;
            background-color: rgba(245, 189, 140, 0.5);
            cursor: pointer;
        }

        .pac-icon {
            display: none;
        }

        .limit-text {
            display: block;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        #map {
          height: 100%;
          width: 100%;
          margin: 0px;
          padding: 0px
        }
    </style>
    <style>
        .top-100 {
            top: 100%
        }

        .bottom-100 {
            bottom: 100%
        }

        .max-h-select {
            max-height: 300px;
        }
    </style>
    <link rel="stylesheet" href="{% static 'trip/css/container_blocks.css' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/@tailwindcss/custom-forms@0.2.1/dist/custom-forms.css" rel="stylesheet"/>
{% endblock %}

{% block main_content %}
    <div class="flex flex-grow items-center justify-center px-5 py-5 md:px-10 md:py-10 w-screen">
        <div class="h-full w-full rounded-3xl container-lg flex flex-col pb-8">
            <div class="flex flex-col md:flex-row">
                <!-- Left column (details) -->
                <div class="w-full md:w-1/2">
                    <!-- Page title -->
                    <div id="place_name" class="mx-8 my-6 flex flex-row">
                        <h1 class="text-3xl font-bold" style="line-height: 1.6;">{{ details.name }}</h1>
                    </div>
                </div>
            </div>
            <!-- Trip day row -->
            <div id="trip-days">
                <!-- Table created by JS -->
            </div>
        </div>
    </div>
{% endblock %}