.container-lg {
    /* Backfround color */
    background-color: rgba(209, 213, 219, 0.3);

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Shadow */
    box-shadow: 3px 8px 5px rgb(0 0 0 / 0.3);

    word-wrap:break-word;
}

.container-height {
    /* Full height */
    height: 73vh;
}

.detail-scrolllist {
    height: 66.666667%;
}

@media only screen and (max-width: 766px) {
    .container-height {
        /* Full height */
        height: 100%;
    }
    .detail-scrolllist {
        height: 100%;
    }

}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.bg-translucent {
    /* Backfround color */
    background-color: rgba(209, 213, 219, 0.35);
}

.custom-shadow {
    box-shadow: 2px 5px 10px rgb(0 0 0 / 0.1);
}

.limit-text {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fade {
  opacity: 1;
}

.underline-md {
    text-decoration-line: underline;
    text-underline-offset: 8px;
}

.mt-15 {
  margin-top: 3.75rem;
}

.places-table {
    width: 20vw;
}

.carousel {
    background: transparent;
}

.carousel-cell {
    width: 80%;
    height: 10%;
    /* flex-box, center image in cell */
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-items: center;
            align-items: center;
}

.carousel-cell img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    /* dim unselected */
    opacity: 0.7;
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
    -webkit-filter: blur(5px);
            filter: blur(5px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
            transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}

/* brighten selected image */
.carousel-cell.is-selected img {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: none;
            filter: none;
}

@media screen and ( min-width: 768px ) {
    .carousel-cell {
        height: 400px;
    }
}

@media screen and ( min-width: 960px ) {
    .carousel-cell {
        width: 75%;
    }
}

/* buttons, no circle */
.flickity-prev-next-button {
    width: 60px;
    height: 60px;
    background: transparent;
    opacity: 0.6;
}
.flickity-prev-next-button:hover {
    background: transparent;
    opacity: 1;
}
/* arrow color */
.flickity-prev-next-button .arrow {
    fill: white;
}
.flickity-prev-next-button.no-svg {
    color: white;
}
/* closer to edge */
.flickity-prev-next-button.previous {
    left: 0;
}
.flickity-prev-next-button.next {
    right: 0;
}
/* hide disabled button */
.flickity-prev-next-button:disabled {
    display: none;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-30 { font-size: 30px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

#basic-info {

}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

Hide scrollbar for IE, Edge and Firefox
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.8);
}

.overlay-content {
    height: 100%;
    overflow: scroll;
}
